* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* variables del sistema */
  --background: #1a1a1c;
  --main-color: #000;
  --letter: #fff;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

html {
  overflow-x: hidden !important;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Syne Mono', monospace;
  font-family: 'Ubuntu Mono', monospace;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(
      to left bottom,
      #65b3ee,
      #54a7f4,
      #4e99f7,
      #5789f8,
      #6a77f4
    )
    no-repeat center center;
}
section {
  padding: 2rem 7%;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8vh;
}
ul {
  list-style: none;
}
a {
  font-size: 2rem;
  color: var(--letter);
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.header {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 1.5rem 7%;
  top: 0;
  left: 0;
  right: 0;
}

/* Home section starts */

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('../images/background2.png');
  background-size: cover;
  background-position: left;
  justify-content: center;
  text-align: center;
}

.home--container {
  max-width: 60rem;
}
.info--name {
  padding: 2rem;
}
.home .home--container h2 {
  text-transform: uppercase;
  font-size: 4.5rem;
  color: #fff;
}
.home .home--container h3 {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}
.header--img--container {
  display: flex;
  padding-left: 1rem;
}
.header--img {
  display: flex;
  width: 5.4rem;
  height: 5.4rem;
}

.mobile-menu div {
  width: 3.2rem;
  height: 0.2rem;
  background: #fff;
  margin: 0.8rem;
}

.nav--list {
  display: flex;
  list-style: none;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 50vw;
  height: calc(100vh - 9.5rem);
  background: #23232e;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition-duration: right 0.6s ease-in;
}

.nav-list li {
  margin-left: 0;
  opacity: 0;
}

.mobile-menu {
  display: block;
  cursor: pointer;
  padding-left: 70%;
}

.info--description {
  background: var(--background);
  width: 90%;
  color: white;
  border-radius: 1rem;
  font-size: 1.8rem;
}

.info--description:hover {
  cursor: pointer;
  background: #fff;
}
.info--description:hover {
  color: white;
}
.info--description:hover p {
  color: black;
}

/* section about starts */

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about .row .image {
  flex: 1 1 45rem;
}
.about .row .image img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}
.about .row .content h3 {
  font-size: 3rem;
  color: var(--letter);
}

.about .row .content p {
  font-size: 1.6rem;
  color: var(--background);
  padding: 1rem 0;
  line-height: 1.8;
}

.heading {
  text-align: center;
  color: var(--letter);
  text-transform: uppercase;
  font-size: 4rem;
  padding-bottom: 3.5rem;
}

.heading span {
  color: var(--main-color);
}

.btn {
  
  margin-top: 1rem;
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  background: var(--main-color);
  cursor: pointer;
}
.btn:hover {
  letter-spacing: 0.2rem;
}
/* section about ends */

/* contact section */
.contac--container {
  background: var(--background);
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.main--social-media {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2.6rem;
}

/* .main--container {
  display: flex;
  justify-content: space-around;
}
.main--container .main--image {
  width: 100%;
  border-radius: 4.5rem;
  padding: 1rem;
}

.main--links {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin: 1rem auto;
} */

/* .main--links__salmon {
  background-color: rgb(52, 52, 210);
  color: var(--letter);
}

.main--links__transparent {
  text-decoration: underline;
  background-color: rgb(70, 164, 164);
  color: var(--letter);
} */

.main--social-media .social--media--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  width: 25rem;
  height: 50px;
  margin: 2rem;
}

.main--social-media .social--media--container a {
  height: 5.5rem;
  width: 5.5rem;
  line-height: 5rem;
  border: var(--border);
  margin: 0.4rem;
  border-radius: 50%;
}
.main--social-media .social--media--container a:hover {
  background-color: rgb(11, 12, 12);
}
.main--technologies {
  border: 0.5rem solid black;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 64rem;
  margin: auto;
}
.technologies--info {
  flex-basis: 10rem;
  flex-grow: 1;
}
.technologies--info img {
  width: 7.5rem;
  height: 7.5rem;
}

/* main section stars */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.nav--list.active {
  right: 0;
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
