nav {
  display: block;
  padding: 2% 6%;
  background: transparent;
}
a {
  color: black;
}
.main {
  background-image: linear-gradient(
    to right bottom,
    #051937,
    #004c73,
    #00858e,
    #00bc7c,
    #bce956
  );
}
.header {
  border: 0.5rem solid black;
  background: #fff;
}
.nav--list {
  margin: 0 2rem;
  height: 8vh;
  top: 0;
  right: 0;
  background: transparent;
  flex-direction: row;
}
.nav-list li {
  letter-spacing: 3px;
  margin-left: 48px;
}
.mobile-menu {
  display: none;
}
